<!DOCTYPE html>
<html>
    <head>
        <meta charset = 'utf-8'>
        <title>verifyProvider</title>
    </head>
    <body>

        <script type="module">
            let accountOwner;
            try{
                if(window && window.ethereum) console.log('Metamask plugin is installed on browser');
                 accountOwner = await window.ethereum.request({
                method: "eth_requestAccounts",
                })
            }
            catch(e){
                console.log(e.toString());
                console.log('MetaMask plugin not installed');
            }
            console.log('address currently connected on wallet : ' + accountOwner);

                </script>

    </body>
</html>